.container {
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  margin-top: 55px;
  margin-bottom: 45px;
  overflow: auto;
  background-color: #323232;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content {
  font-size: 80px;
  color: white;
  text-align: center;
}

th {
  color: #ffd31d;
  font-size: 30px;
  text-align: center;
}

tr {
  text-align: center;
}

a {
  color: white;
  font-size: 25px;
}
