body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    font-family: 'Bangers', cursive;
}